@page
@model JavaSrcipt.Pages.selectedNameModel
@{
    Layout = null;
}

<label>
    <input type="radio" name="inviteId" />
    12312
</label>
<label>
    <input type="radio"name="inviteId"  />
    123
</label>

