@page
@model assignment.Pages.FAQ.MessageModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>消息和通知.一起帮</title>
    <link rel="shortcut icon" type="image/ico" href="/Images/logo.ico" media="screen" />

</head>
<body>
    <h1> 消息和通知</h1>
    <hr />
    <a name="difference"></a>
    <h3>Q：用户消息和系统通知有什么区别？</h3>
    <p>用户消息是由用户操作行为所产生的、针对特定用户发送的消息，如：求助有了新回复、帮助获得酬谢等。目前通过网页导航栏上  闪烁提示，或发送email通知。</p>
    <p>系统通知是由系统管理员发布的，针对所有用户的通知，如：新版本/功能上线、系统维护、推广活动等。目前通过网页导航栏下横幅通知。</p>
    <a name="message"></a>
    <h3>Q：如何设置用户消息接收？</h3>
    <img src="/Images/unsubscribe.png" alt=" 消息设置" />
    <p>点击  退订的是该种类下全部消息。</p>
    <p>现目前，退订的意思是系统不会生成该消息，所以无论是网站，还是Email，都不会再收到该种类下的全部消息。</p>
    <a name="notice"></a>
    <h3>Q：我能不能禁用掉系统通知？</h3>
    <p>不能。因为这些通知都和你使用“17（一起）帮”密切相关，了解这些通知非常有必要。</p>
    <p>只要勾选通知前面的 为已读，通知就不会消失并不再显示。我们使用cookie记录你的已读情况，所以一个浏览器只会出现一次，但如果你更换浏览器的话，就会再看到一次通知，敬请谅解。</p>
</body>
</html>