@page
@model assignment.Pages.FAQ.MoneyModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>帮帮币.常见问题.一起帮</title>
    <link rel="shortcut icon" type="image/ico" href="/Images/logo.ico" media="screen" />

</head>
<body>
    <a>帮帮币</a>
    <a name="what"></a>
    <h2>Q：什么是“帮帮币”？有什么用处？</h2>
    <p> 帮帮币 是“一起帮”社区内部流通的虚拟货币。主要用于：</p>
    <ul>
        <li>求助设置悬赏，以均衡社区成员的付出/回报：我求助，你帮忙，我给你积分；他求助，我帮忙，他给我积分。</li>
        <li>求督促时设置“未交作业惩罚”。如果未能完成当天的计划，“帮帮币”可以被负责督促的好心人捡走。</li>
    </ul>
    <p>如果你的  帮帮币 用都用不完，你还可以</p>
    <ul>
        <li>购买广告，进行推广</li>
        <li>在内部进行交易（转换成人民币）</li>
    </ul>
    <a>另：一张表区分帮帮“点/豆/币”</a>
    <a name="target"></a>
    <h2>Q：引入“帮帮币”的目的是什么？</h2>
    <p>平衡社区用户的付出/回报。我们希望：每一个社区成员，在得到别人帮助的同时，也能够努力的帮助别人。</p>
    <p>和传统的问答/论坛不同，“一对一”的帮助，在便利“求助人”的同时，需要好心人更专业的技能、要耗费更多的时间和精力，乃至于承担更大的风险。</p>
    <p>如果没有切实可行的机制来激励好心人孜孜不倦的提供优质服务，社区不可能健康地成长。</p>
    <p> 帮帮币 ，是对知识、能力和他人劳动的尊重。</p>
    <a name="gain"></a>
    <h2>Q：如何才能获得帮帮币？</h2>
    <p>1、系统赠送。随着社区用户的等级上升，会不定时地掉落相应数额的  帮帮币</p>
    <p>2、解决别人求助的问题，获得酬谢。</p>
    <p>3、督促别人完成目标。如果求助人没有按时交作业，你可以抢到他因未交作业惩罚掉落的“帮帮币”。</p>
    <p>4、直接向其他用户购买。</p>
    <h2>Q：如何“捡起”用户升级掉落的帮帮币？</h2>
    <p>社区用户的等级上升，会掉落相应数额的  帮帮币</p>
    <p>任何注册用户都可以在查看其联系方式（点击用户名弹出：示例）时捡取，但用户本人会优先得到系统通知。</p>
    <p>比如，用户张三达到萌芽级，系统就会相应的生成一条通知给张三：恭喜你晋级到萌芽，  帮帮币 18枚已掉落，请尽快捡取。否则，  2020年08月23日 11点15分 后任何人都可捡取.</p>
    <h2>Q：“马上领取”是怎么一回事？</h2>
    <p>
        无论是因为“用户升级”还是“未交作业惩罚”，  帮帮币 掉落都是由用户登录触发的。
        但为了避免“爬虫”（一种作弊手段）争抢，并增加娱乐性，“帮帮币”掉落之后还不能立即被领取，领取时间由系统随机生成（30后90分钟以内）。
        在此时间之后，任何用户都可以领取，先到先得。
    </p>
    <p>但作为触发“帮帮币”掉落的用户，享有两个特权：</p>
    <ol>
        <li>收到一条私有消息，告知他掉落“帮帮币”可以领取的具体时间。用户可以第一时间登录一起帮抢到“帮帮币”</li>
        <li>消息中还包含一个马上领取的链接。用户也可以点击这个链接，以“帮帮币”数额10%佣金（取整且最少为1枚）为代价，马上领取这次掉落的“帮帮币”。</li>
    </ol>
    <h2>Q：如何购买帮帮币？向谁购买？价格多少？</h2>
    <p>本质上，你可以和任何帮帮币富余的用户自由地协商数量和价格，达成一致后进行购买。</p>
    <p>但为了方便萌新，系统也按特定规则展示了一些推荐卖家。</p>
    <p>买卖双方达成一致之后，由卖家把  帮帮币 装箱；然后，系统会将该消息发送给买家。</p>
    <p>买家需按以下流程操作，才能打开箱子，获得时间币：</p>
    <ol>
        <li>收到箱子，确认价格、数量、卖方等信息正确无误；</li>
        <li>按约定支付价款。支付款项不需要经过“一起帮”，可以采用买卖双方认可的各种方式，如微信红包、支付宝转账等。但注意：请务必保留好支付凭证！</li>
        <li>卖家开箱，  帮帮币 落袋为安</li>
    </ol>
    <p>整个流程如下图所示：</p>
    <img src="/Images/购买.jpg" alt="购买" title="购买流程图" />
    <a name="buyer-safe"></a>
    <h2>Q：作为买方，如何保证交易安全？</h2>
    <p>根据交易流程，一旦卖家完成 装箱，  帮帮币 就已经被冻结，非经严格程序，卖家无法取回。所以，一般情况下，卖家也不会有意欺诈。但为了以防万一，我们仍然建议你注意以下几点：</p>
    <p>首先，收到箱子后务必确认交易信息（价格数量等）正确。</p>
    <p>其次，一定要保留好支付凭证。建议备注上交易信息，尤其是交易号，例如：购买帮帮币-9836</p>
    <p>然后，请及时地完成（以及催促卖方完成）交易，建议在1个小时内完成。超过24小时未完成的，你可以向网站管理员提起 申述，由管理员直接开箱，获取帮帮币。</p>
    <p>最后，交易异常时请保持联系方式畅通。</p>
    <a name="recommend"></a>
    <h2>Q：如何出售帮帮币？</h2>
    <p>出售  帮帮币 ，首先应满足帮帮币的出售条件。</p>
    <p>之后，理论上你可以向任何用户进行销售，自由地协商数量和价格。但为了方便萌新购买，系统也按特定规则展示了一些推荐卖家。</p>
    <p>卖方和买方自由协商，达成购买意向之后，卖方按以下流程进行：</p>
    <ul>
        <li>装箱：填写交易对象、数量和价格等</li>
        <li>等待货款到账</li>
        <li>确认货款无误之后，开箱</li>
    </ul>
    <p>整个流程如下图所示：</p>
    <img src="/Images/出售.jpg" alt="出售" title=" 出售流程图" />
    <a name="sale"></a>
    <h2>Q：如何成为“系统推荐卖家”？</h2>
    <p>获得推荐，需满足以下条件：</p>
    <ul>
        <li>已填写联系方式，且邮件已激活</li>
        <li>现有  帮帮币 大于系统设定的门槛</li>
    </ul>
    <p>对满足上述条件用户，系统按其最后登录时间倒序排列，取最近登录的30个用户依次显示。</p>
    <a name="seller-safe"></a>
    <h2>Q：作为卖方，如何保证交易安全？</h2>
    <p>因为买方付出的是人民币，相对来说承担了更多的风险，所以我们的规则倾向于保护买方。作为卖家，请务必注意：</p>
    <ul>
        <li>准确无误的填写交易信息（装箱）</li>
        <li>
            及时地完成（以及催促买方完成）交易。交易应当（从装箱开始）在1个小时内完成，超过1小时未完成的，交易状态会自动更新为“警告”。
            超过24小时还未完成的，你可以向网站管理员提起异议，管理员会和卖方进行联系，相应的解决相关问题。
        </li>
        <li>保持联系方式通畅。管理员收到买方的申诉后，如果24小时都无法和你联系，会直接开箱，将开箱，将  帮帮币 转移给买方。</li>
    </ul>
    <a name="threshold"></a>
    <h2>Q：帮帮币出售时为什么要设置“门槛”？</h2>
    <p>对于大部分用户来说，我们希望：  帮帮币 是拿来用的，不是拿来卖的。设定帮帮币的出售门槛，是为了奖励那些付出远大于贡献的、甚至已经是“职业化”的“好心人”。</p>
    <ul>
        <li>
            提高恶意“套利”行为的难度。如果没有出售门槛，恶意用户就可以非常方便的把免费获得的帮帮币出售获利；设置了门槛，套现的难度会大一些，
            需要监管的用户也会少一些，浑水摸鱼的机会就少一些。
        </li>
        <li>
            维持“帮帮币”价格的稳定。帮帮币的总量总是会越来越多，于是形成类似于“通货膨胀”的效果，造成帮帮币贬值。
            设定合适的门槛，就可以动态的调整可出售帮帮币的数量，稳定帮帮币的价格。
        </li>
    </ul>
</body>
</html>