@page
@model assignment.Pages.FAQ.SuggestModel
@{
    ViewData["Title"] = "意见建议.常见问题";

}

<body>
    <h2>意见建议</h2>
    <hr />
    <h2>Q：为什么会获得管理员奖励？</h2>
    <p>“一起帮”欢迎任何形式的意见建议，bug反馈等，所以会根据反馈的质量，给予一定数量的  <a href="/FAQ/Credit.html" title="点击了解">帮帮点</a> 奖励。数额的多少由管理员根据以下因素自主决定：</p>
    <ul>
        <li>建议的价值。对意见建议来说，越难想到的、越切合“一起帮”现实的……都越有价值；对bug来说，越难发现、破坏性越大的……都越有价值。</li>
        <li>意见建议的内容长短。一般来说，内容越详尽，奖励越多</li>
    </ul>

</body>
